/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 0px 0;
    text-align: center;
}

.fade-in-left {
    animation: fadeInLeft 5s;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* .navbar {
    background: url('cover.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 360px; 
} */

.video-background {
    position: relative;
    width: 100%;
    height: 360px;
    overflow: hidden;
    /* background: url('cover.jpg') no-repeat center center; /* Fallback image */
    background-size: cover;
}

.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: underline;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ddd;
    text-decoration: none;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn.btn-primary  {
    background-color: #333;
    border-color:rgb(255, 181, 32);
}

.btn.btn-primary:hover {
    background-color: rgb(255, 181, 32);
    border-color: rgb(255, 181, 32);
}
